<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
</head>
<body>
    <section layout:fragment="content">
        <div class="text-center">
            <h2>Welcome to My Website</h2>
            <p class="lead">This is a sample <b>home</b> page using Thymeleaf and Bootstrap.</p>
            <a class="btn btn-primary" th:href="@{/about}">Learn More</a>
        </div>
    </section>
</body>
</html>
